
:root {
  /* Your default theme */
  --clr-background:rgb(232, 232, 232);
  --clr-neutral-300:rgb(224, 224, 224);

}

[data-theme='dark'] {
  --clr-background:rgb(15,15,15);
  --clr-neutral-300:rgb(32,32,32);

}