:root {
  --clr-noble-gas: #ffbc42;
  --clr-alkaline-earth-metal: #ec674e;
  --clr-diatomic-nonmetal: #d81159;
  --clr-alkali-metal: #8f2d56;
  --clr-transition-metal: #58586b;
  --clr-post-transition-metal: #218380;
  --clr-lanthanide: #4aabaf;
  --clr-metalloid: #73d2de;
}