@import "./variables";
@import "./mixins";

body {
  background: rgb(25, 25, 27);
  color: rgb(245, 245, 245);
}

a {
  color: lightblue;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  max-width: 1420px;
  margin: auto;
  padding:0px 1rem;
}

h1 {
  font-size: 3rem;
}

.table-container {
  padding-top:2rem;
}

.table-wrapper {
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 100%;
  width: 100%;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, minmax(62px, 78px));
  // grid-template-rows: repeat(10, minmax(54px, 64px));
  grid-gap: 3px;
  position: relative;
  width: 100%;
  > div {
    aspect-ratio: 1 / 1;
  }
}

.periodic-list {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  position: relative;
  width: 100%;
  > * {
    grid-area: unset;
    width: 100%;
  }
  ul[data-type="legend"] {
    display: none;
  }
}

.toggleView {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  font-size:1rem;
  border-radius:var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--c);
  svg {
    width:32px;
    height: 32px;
  }
  &:hover {
    cursor: pointer;
  }
}

.searchForm {
  grid-row: 1 / 1;
  grid-column: 15 / 15;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  input {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid #000;
  }
  button {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid #000;
    background: #000;
    color: #fff;
  }
}

ul[data-type="element-data"] {
  display:flex;
  flex-direction:column;
  height: 100%;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap:nowrap;
    gap: 2rem;
    padding:2px 12px;
    height: 100%;
  }
  output {
    text-align: right;
  }
  > :nth-child(odd) {
    background-color: rgba(250, 250, 250, 0.03);
  }
}

.tabs {
  grid-row: 1 / 4;
  grid-column: 3 / 13;
  margin:5px;
}


@each $name,
  $color
    in (
      alkali-metal: hsl(30, 100%, 50%),
      alkaline-earth-metal: hsl(49, 89%, 61%),
      transition-metal: hsl(229, 86%, 70%),
      post-transition-metal: hsl(105, 50%, 50%),
      lanthanide: hsl(84, 79%, 58%),
      actinide: hsl(166, 53%, 55%),
      
      diatomic-nonmetal: #ea4d5a,
      polyatomic-nonmetal: hsl(311, 86%, 62%),
      noble-gas: hsl(265, 100%, 70%),
      
      metalloid: hsl(183, 86%, 73%),
      unknown: hsl(0, 8%, 75%)
    )


{
  li.#{$name}{
    color: $color;
  }
  div.#{$name} {
    border: 1px solid rgba($color, 0);
    color: $color;
    background:rgba($color, 0.05);
    background: linear-gradient(
      135deg,
      rgba($color, 0.07),
      rgba($color, 0.015)
    );
    // background: linear-gradient(
    //   -185deg,
    //   rgba(40,40,40,1),
    //   rgba(40,40,40, 0.025)
    // );
    &:hover {
      border: 1px solid rgba($color, 0.9);
    }
    &.active {
      background: linear-gradient(
        135deg,
        rgba($color, 1),
        rgba($color, 0.666)
      );
      color:var(--clr-background);
      color:rgb(24,24,24);
      // font-weight:bold;
      * {opacity:1;}
    }
    &.hovered {
      border: 1px solid rgba($color, 0.9);
    }
  }
}

// .f-block-separator:before {
//   content: '';
//   position: absolute;
//   /* Calculate starting point (top-left corner of the first item) */
//   top: calc((1 / 1) * 100%); /* Adjust based on the row start */
//   left: calc((2 / 5) * 100%); /* Adjust based on the column start */
//   /* Calculate width and height based on grid positions */
//   width: calc(((1 / 1) * 100%) - ((2 / 5) * 100%));
//   height: calc(((8 / 10) * 100%) - ((5 / 10) * 100%));
//   background-color: transparent;
//   border-top: 2px solid red; /* Style the line */
//   border-right: 2px solid black;
//   transform: rotate(45deg); /* Adjust rotation based on your needs */
//   transform-origin: top left;
// }