@import "./variables";
@import "./mixins";

body {
  background: rgb(25, 25, 27);
  color: rgb(245, 245, 245);
}

a {
  color: lightblue;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  max-width: 1420px;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

.table-container {
  display: flex;
}

.table-wrapper {
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 100%;
  width: 100%;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, minmax(58px, 64px));
  // grid-template-rows: repeat(10, minmax(54px, 64px));
  grid-gap: 4px;
  position: relative;
  width: 100%;
  > div {
    aspect-ratio: 1 / 1;
  }
}

.periodic-list {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  position: relative;
  width: 100%;
  > * {
    grid-area: unset;
    width: 100%;
  }
  ul[data-type="legend"] {
    display: none;
  }
}

.toggleView {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  font-size:1rem;
  border-radius:var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--c);
  svg {
    width:32px;
    height: 32px;
  }
  &:hover {
    cursor: pointer;
  }
}

.searchForm {
  grid-row: 1 / 1;
  grid-column: 15 / 15;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  input {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid #000;
  }
  button {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid #000;
    background: #000;
    color: #fff;
  }
}

ul[data-type="element-data"] {
  max-width: 300px;
  padding: 0;
  li {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  output {
    text-align: right;
  }
}

.tabs {
  grid-row: 1 / 4;
  grid-column: 3 / 13;
  margin:5px;
}

ul[data-type="legend"] {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding-inline-start: 0rem;
  
  li {
    line-height:normal;
    font-size: 12px;
  }
  label span {
    display: inline-block;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    &:hover {
      cursor: pointer;
    }
  }
  input {
    display:none;
  }
  ul {
    padding-inline-start: 0px;
    list-style-type: none;
  }
}

@each $name,
  $color
    in (
      diatomic-nonmetal: #FF5F7F,
      alkali-metal: hsl(330, 100%, 66%),
      polyatomic-nonmetal: hsl(255, 100%, 70%),
      alkaline-earth-metal: hsl(217, 85%, 62%),
      metalloid: hsl(183, 78%, 56%),
      transition-metal: hsl(166, 53%, 55%),
      post-transition-metal: hsl(105, 50%, 50%),
      lanthanide: hsl(84, 79%, 58%),
      noble-gas: hsl(49, 89%, 61%),
      actinide: hsl(30, 100%, 50%),
      unknown: hsl(0, 0%, 70%)
    )
    // in (
  //   noble-gas: hsl(39, 100%, 63%),
  //   alkaline-earth-metal: hsl(9, 81%, 62%),
  //   diatomic-nonmetal: hsl(338, 85%, 46%),
  //   alkali-metal: hsl(335, 52%, 37%),
  //   transition-metal: hsl(240, 10%, 38%),
  //   post-transition-metal: hsl(178, 60%, 32%),
  //   lanthanide: hsl(182, 41%, 49%),
  //   metalloid: hsl(195, 100%, 68%),
  //   actinide: hsl(29, 100%, 47%),
  //   polyatomic-nonmetal: hsl(304, 48%, 55%),
  //   unknown: hsl(0, 0%, 33%)
  // )

{
  li.#{$name}{
    color: $color;
    span {
      opacity:0.99;
      &:hover {
        opacity:1;
        text-decoration: underline;
        text-underline-offset: 0.1em;
      }
    }
    input:checked + span {
      // color:rgb(24,24,24);
    }
  }
  div.#{$name} {
    border: 1px solid rgba($color, 0.6);
    color: $color;
    // background:rgba($color, 0.1);
    background: linear-gradient(
      -185deg,
      rgba($color, 0.1),
      rgba($color, 0.025)
    );
    background: linear-gradient(
      -185deg,
      rgba(40,40,40,1),
      rgba(40,40,40, 0.025)
    );
    
    &.active {
      background: rgba($color, 1);
      color:var(--clr-background);
      color:rgb(24,24,24);
    }
  }
}
