@import "../../app/mixins";

.element {
  background: rgb(32, 32, 32);
  display: flex;
  position: relative;
  justify-content: center;
  color: rgb(250, 250, 250);
  border-radius:var(--border-radius);
  border: 1px solid transparent;
  
  &:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
    box-shadow: 0px 0px 10px 3px rgba(32,32,32,1);
    cursor: pointer;
    > * {
      color:white!important;
    }
  }
  
  .symbol{
    font-size:clamp(11px, 1.25vmax, 21px);
    line-height:0;
    font-weight: 700;
  }
  .name, .number, .mass{
    font-size:clamp(7px, 0.9vmax, 11px);
    line-height:clamp(9px, 1.1vmax, 13px);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    font-weight:500;
    padding-bottom:1px;
  }
  .mass {
    opacity:0.8;
    line-height:1;
  }
  .elementBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius:var(--border-radius);
    padding:4px;
  }
}

.summary {
  flex:1;
  max-width:500px;
  font-size:0.875rem;
  p {
    margin:0px;
  }
}

.elementDetails {
  background-color: rgb(25, 25, 27);
  display:flex;
  gap:1rem;
  position: relative;
  overflow-x: auto;
  .details {
    display:flex;
    gap:1rem;
    width: 100%;
    // background-color: red;
    > * {
      flex:1;
      width: 100%;
      border:1px solid rgb(52, 52, 63);
      border-radius:var(--border-radius);
    }
  }

  li {
    font-size:0.75rem;
    padding:3px 0px;
  }
  .element {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 200px;
    &:hover {
      transform: none;
      z-index: initial;
    }
    .elementBody {
      padding:0.875rem;
    };
    .name, .mass, .number{
      font-size:clamp(1rem, 1.25vmax, 24px);
      line-height:clamp(1.2rem, 1.5vmax, 28px);
    }
    .name {
      bottom:9px;
    }
    .numbers {
      padding:10px;
    }
    .symbol{
      font-size:3rem;
    }

  }

  select {
    height: 20px; 
    padding: 0px; 
    font-size: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #fff;
    margin-left:5px;
  }
  output {
    text-wrap:wrap;
  }
}

.toggleDetails {
  display:flex;
  justify-content: flex-end;
  padding:10px 0px; 
  button {
    background-color: transparent;
    color:white;
    border:none;
    ;
  }
}